.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: #5A5A5A;
}

#settingsBar {
    -fx-background-color: #A3A3A3;
}

#groupButtons {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-background-color: #5A5A5A;
    -fx-border-style: solid inside;
    -fx-border-width: 5;
    -fx-border-radius: 10;
    -fx-border-color: white;
}

#libLabelId {
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-font-weight: bold;
}

#attButton {
    -fx-background-image:url(images/icons/syncIcon.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 40;
    -fx-background-color: #A3A3A3;
}

#addButton {
    -fx-background-image:url(images/icons/addIcon.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 40;
    -fx-background-color: #A3A3A3;
}

#backButton {
    -fx-background-image:url(images/icons/backIcon.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 40;
    -fx-background-color: #A3A3A3;
}

#findButton {
    -fx-background-image:url(images/icons/findIcon.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 40;
    -fx-background-color: #A3A3A3;
}

#trashButton {
    -fx-background-image:url(images/icons/trashIcon.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 40;
    -fx-background-color: #A3A3A3;
}